<div class="container-fluid">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% addresses.each do |address| %>
          <tr>
            <td><%= address.lat %></td>
            <td><%= address.lng %></td>
            <td><%= address.full_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
